@*//===================================================================================
// © CBP - linkedin.com/in/
//===================================================================================*@

@using WebApp.Presentacion.WebMvc5.Resources

@model WebApp.Presentacion.WebMvc5.ViewModels.RecProdCrudViewModel

@{ 
	ViewBag.Title = "Remove RecProd"; 
	}

<h2>@ViewBag.Title</h2>

<h3>@Html.Label(PresentationResources.DeleteSure)</h3>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>RecProd</legend>

			@Html.HiddenFor(model => model.RecProd.Id)

		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.RecProd.IdReceta):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.RecProd.IdReceta)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.RecProd.IdProducto):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.RecProd.IdProducto)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.RecProd.IdProveedor):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.RecProd.IdProveedor)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.RecProd.Gramos):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.RecProd.Gramos)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.RecProd.FechaRegistro):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.RecProd.FechaRegistro)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="remove" value="@PresentationResources.Remove" />
			</p>
		</div>		
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Find")
</div>
