@*//===================================================================================
// © CBP - linkedin.com/in/
//===================================================================================*@

@using WebApp.Presentacion.WebMvc5.Resources

@model WebApp.Presentacion.WebMvc5.ViewModels.PasswordCrudViewModel

@{ 
	ViewBag.Title = "Remove Password"; 
	}

<h2>@ViewBag.Title</h2>

<h3>@Html.Label(PresentationResources.DeleteSure)</h3>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>Password</legend>

			@Html.HiddenFor(model => model.Password.Id)

		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.Password1):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.Password1)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.PasswordHash):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.PasswordHash)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.PasswordSalt):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.PasswordSalt)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.PasswordAnswer):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.PasswordAnswer)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.PasswordQuestion):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.PasswordQuestion)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.Activo):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.Activo)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.CreatedByUserID):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.CreatedByUserID)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Password.FechaCreacion):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Password.FechaCreacion)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="remove" value="@PresentationResources.Remove" />
			</p>
		</div>		
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Find")
</div>
