@using WebApp.Presentacion.WebMvc5.Resources

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp | @ViewBag.Title</title>

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary WebApp style -->
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/font-awesome/css")
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")*@
</head>

<body>

    <!-- Skin configuration box -->
    <!-- @Html.Partial("_SkinConfig") -->

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">
        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")
        
            <!-- Main view  -->
            @*@RenderBody()*@
            <div class="container body-content">
                <section>
                    <div id="loading">
                        <i id="submit-btn-icon" class="fa fa-spin fa-gear fa-align-center fa-lg"></i> @PresentationResources.Loading
                    </div>
                    <div id="mask">@RenderBody()</div>
                </section>
            </div>

            
            <!-- Footer -->
            @Html.Partial("_Footer")
        </div>
        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")
    </div>
    <!-- End wrapper-->

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/webapp")
    <!-- Skin config script - only for demo purpose-->
    @Scripts.Render("~/bundles/skinConfig")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)


</body>
</html>
