@*//===================================================================================
// © CBP - linkedin.com/in/
//===================================================================================*@

@using WebApp.Presentacion.WebMvc5.Resources

@model WebApp.Presentacion.WebMvc5.ViewModels.Log4netCrudViewModel

@{ 
	ViewBag.Title = "Modify Log4net"; 
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Log4net</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>    @ViewBag.Title</strong>
            </li>
        </ol>
	</div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
						@Html.HiddenFor(model => model.Log4net.Id)

						<div class="form-horizontal">
							@Html.ValidationSummary(true)
                            <div class="form-group">
								@Html.LabelFor(model => model.Log4net.Level, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Log4net.Level, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Log4net.Level, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Log4net.Logger, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Log4net.Logger, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Log4net.Logger, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@
                            <div class="form-group">
								@Html.LabelFor(model => model.Log4net.Host, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Log4net.Host, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Log4net.Host, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Log4net.Date, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Log4net.Date, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Log4net.Date, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@
                            <div class="form-group">
								@Html.LabelFor(model => model.Log4net.Thread, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Log4net.Thread, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Log4net.Thread, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Log4net.Message, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Log4net.Message, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Log4net.Message, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@
                            <div class="form-group">
								@Html.LabelFor(model => model.Log4net.Exception, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Log4net.Exception, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Log4net.Exception, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@

							<div class="form-group">
								<button type="button" onclick="submit()" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="@PresentationResources.Modify">
									<i class="fa fa-save"> @PresentationResources.Modify</i>
								</button>

								<button onclick="@Url.Action(PresentationResources.Find, "Log4net")" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="@PresentationResources.GoBack">
									<i class="fa fa-reply"></i> @PresentationResources.GoBack
								</button>
							</div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

