@*//===================================================================================
// © CBP - linkedin.com/in/
//===================================================================================*@

@using WebApp.Presentacion.WebMvc5.Resources

@model WebApp.Presentacion.WebMvc5.ViewModels.UserPasswordsCrudViewModel

@{ 
	ViewBag.Title = "Remove UserPasswords"; 
	}

<h2>@ViewBag.Title</h2>

<h3>@Html.Label(PresentationResources.DeleteSure)</h3>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>UserPasswords</legend>

			@Html.HiddenFor(model => model.UserPasswords.Id)

		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.UserPasswords.IdUsuario):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.UserPasswords.IdUsuario)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.UserPasswords.IdPassword):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.UserPasswords.IdPassword)
			</div>
		</div>
		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.UserPasswords.ExternalUser):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.UserPasswords.ExternalUser)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="remove" value="@PresentationResources.Remove" />
			</p>
		</div>		
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Find")
</div>
