@*//===================================================================================
// © CBP - linkedin.com/in/
//===================================================================================*@

@using WebApp.Presentacion.WebMvc5.Resources

@model WebApp.Presentacion.WebMvc5.ViewModels.RolUsuarioCrudViewModel

@{ 
	ViewBag.Title = "Add RolUsuario"; 
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>RolUsuario</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>    @ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
							@Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.RolUsuario.Nombre, new { @class = "control-label col-md-2" }):
								@Html.EditorFor(model => model.RolUsuario.Nombre, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RolUsuario.Nombre, "", new { @class = "text-danger" })
							</div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RolUsuario.Nota, new { @class = "control-label col-md-2" }):
								@Html.EditorFor(model => model.RolUsuario.Nota, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RolUsuario.Nota, "", new { @class = "text-danger" })
							</div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RolUsuario.Activo, new { @class = "control-label col-md-2" }):
								@Html.EditorFor(model => model.RolUsuario.Activo, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RolUsuario.Activo, "", new { @class = "text-danger" })
							</div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RolUsuario.CreatedBy, new { @class = "control-label col-md-2" }):
								@Html.EditorFor(model => model.RolUsuario.CreatedBy, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RolUsuario.CreatedBy, "", new { @class = "text-danger" })
							</div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RolUsuario.CreatedDate, new { @class = "control-label col-md-2" }):
								@Html.EditorFor(model => model.RolUsuario.CreatedDate, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RolUsuario.CreatedDate, "", new { @class = "text-danger" })
							</div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RolUsuario.ModifiedBy, new { @class = "control-label col-md-2" }):
								@Html.EditorFor(model => model.RolUsuario.ModifiedBy, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RolUsuario.ModifiedBy, "", new { @class = "text-danger" })
							</div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RolUsuario.ModifiedDate, new { @class = "control-label col-md-2" }):
								@Html.EditorFor(model => model.RolUsuario.ModifiedDate, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.RolUsuario.ModifiedDate, "", new { @class = "text-danger" })
							</div>

							<div class="form-group">
                                <button type="button" onclick="submit()" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="@PresentationResources.Add">
                                    <i class="fa fa-save"> @PresentationResources.Add</i>
                                </button>

                                <a href="@Url.Action(PresentationResources.Find, "RolUsuario")" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="@PresentationResources.GoBack"><i class="fa fa-reply"></i> @PresentationResources.GoBack</a>
							</div>
						</div>
					}
                </div>
            </div>
        </div>
    </div>
</div>

