@*//===================================================================================
// © CBP - linkedin.com/in/
//===================================================================================*@

@using WebApp.Presentacion.WebMvc5.Resources

@model WebApp.Presentacion.WebMvc5.ViewModels.Nt_FuenteCrudViewModel

@{ 
	ViewBag.Title = "Remove Nt_Fuente"; 
	}

<h2>@ViewBag.Title</h2>

<h3>@Html.Label(PresentationResources.DeleteSure)</h3>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

	<fieldset>
		<legend>Nt_Fuente</legend>

			@Html.HiddenFor(model => model.Nt_Fuente.Id)

		<div class="newline">
			<div class="label">
				@Html.DisplayNameFor(model => model.Nt_Fuente.Cod):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Nt_Fuente.Cod)
			</div>
			<div class="label">
				@Html.DisplayNameFor(model => model.Nt_Fuente.Nombre):
			</div>
			<div class="field">
				@Html.DisplayFor(model => model.Nt_Fuente.Nombre)
			</div>
		</div>
		<div class="buttons">
			<p>
				<input type="submit" name="remove" value="@PresentationResources.Remove" />
			</p>
		</div>		
	</fieldset>
}

<div>
	@Html.ActionLink(PresentationResources.GoBack, "Find")
</div>
