@*//===================================================================================
// © CBP - linkedin.com/in/
//===================================================================================*@

@using WebApp.Presentacion.WebMvc5.Resources

@model WebApp.Presentacion.WebMvc5.ViewModels.RecetaCrudViewModel

@{ 
	ViewBag.Title = "Modify Receta"; 
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Receta</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>    @ViewBag.Title</strong>
            </li>
        </ol>
	</div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
						@Html.HiddenFor(model => model.Receta.Id)

						<div class="form-horizontal">
							@Html.ValidationSummary(true)
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.IdFamRec, new { @class = "control-label col-md-2" })                                
								@Html.DropDownListFor(model => model.Receta.IdFamRec, Model.FamRecs, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.IdFamRec, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.IdRecetaBase, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.IdRecetaBase, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.IdRecetaBase, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.Nombre, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.Nombre, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.Nombre, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.Alias, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.Alias, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.Alias, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.Ubicacion, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.Ubicacion, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.Ubicacion, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.Descripcion, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.Descripcion, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.Descripcion, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.Preparacion, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.Preparacion, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.Preparacion, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.IdFoto, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.IdFoto, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.IdFoto, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.IdEstado, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.IdEstado, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.IdEstado, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
								@Html.LabelFor(model => model.Receta.FechaRegistro, new { @class = "control-label col-md-2" })                                
								@Html.EditorFor(model => model.Receta.FechaRegistro, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Receta.FechaRegistro, "", new { @class = "text-danger" })
                            </div>
						@*</div>*@

							<div class="form-group">
								<button type="button" onclick="submit()" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="@PresentationResources.Modify">
									<i class="fa fa-save"> @PresentationResources.Modify</i>
								</button>

								<button onclick="@Url.Action(PresentationResources.Find, "Receta")" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="@PresentationResources.GoBack">
									<i class="fa fa-reply"></i> @PresentationResources.GoBack
								</button>
							</div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

